:root {
    --tileSize: 100px;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, var(--tileSize));
    grid-template-rows: repeat(8, var(--tileSize));
    width: '100%';
    height: undefined;
    background-color: black;
}